<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-light blue-grey lighten-5 fixed-top scrolling-navbar">

    <!-- Navbar brand -->
    <logo><a class="navbar-brand" href="#">Donato Perconti</a></logo>

    <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link waves-light" mdbRippleRadius>Services<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbRippleRadius>About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbRippleRadius>Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbRippleRadius>Contact</a>
            </li>
        </ul>
        <!-- Links -->

    </links>
    <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
