<!--Panel-->
<div class="row">
    <div class="col-1"></div>
    <div class="col-2">
        <div class="card text-center hoverable amber accent-3 white-text mh-100" id="hidden" style="height: 175px; background-color: #E4C036 !important;">
            <div class="card-body">
                <!--Text-->
                <br>
                <br>
                <br>
                <i class="fa fa-hand-peace-o fa-3x " aria-hidden="true"></i>
            </div>
        </div>
    </div>
    <div class="col-9 wow fadeIn">
        <div class="intro-info-content">
            <br>
            <br>
            <h1 class="w-100" style="letter-spacing: 20px;">DONATO<span id="hidden" class="text-muted">PERCONTI</span></h1>
            <p class="grey-text" style="letter-spacing: 3px;">SOFTWARE ENGINEERING LEADER</p>
        </div>
    </div>
    <div class="col">
    </div>
</div>

<!--/.Panel-->