<!--Panel-->
<div class="row">
  <!-- <div class="col-sm-3">
        <br>
        <div class="card rgba-stylish-light card-body hoverable">
            <h4 class="card-title">ABOUT</h4>
            <hr width="25%">
            <p class="card-text text-muted" style="letter-spacing: 1px;">
                An experienced software engineer who thrives at the intersection of business and technology. Skilled in architecting and developing teams and products. 
            <br>
            <h4 class="card-title">CONTACT</h4>
            <hr width="25%">

            <h5>Location</h5>
            <a class="card-text text-muted" style="letter-spacing: 1px;">Greater Seattle area</a>

            <br>
            <h5>Email</h5>
            <a href="mailto:donato.perconti@gmail.com" class="card-text text-muted" style="letter-spacing: 1px;">donato.perconti@gmail.com</a>
            
            <br>
            <h5>Phone</h5>
            <a href="tel:208-790-1990" class="card-text text-muted" style="letter-spacing: 1px;">208.790.1990</a>

            <br>
            <h5>Website</h5>
            <a href="dperconti.com" class="card-text text-muted" style="letter-spacing: 1px;">dperconti.com</a>

            <br>
            <h5>Social</h5>

            <div class="flex-row">
                <a href="https://www.linkedin.com/in/dperconti/" class="card-link"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                <a href="https://angel.co/dperconti" class="card-link"><i class="fa fa-angellist" aria-hidden="true"></i></a>
                <a href="https://www.instagram.com/dperconti/" class="card-link"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="https://stackoverflow.com/users/2526141/donato-perconti" class="card-link"><i class="fa fa-stack-overflow" aria-hidden="true"></i></a>
                <br>
                <a href="https://github.com/dperconti" class="card-link"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
                <a href="https://medium.com/@dperconti" class="card-link"><i class="fa fa-medium" aria-hidden="true"></i></a>
                <a href="https://twitter.com/dperconti" class="card-link"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </div>
        </div>
    </div> -->
  <div class="col-sm-12 wow fadeIn">
    <div class="card white card-body hoverable z-depth-0">
      <h5 class="card-title">EXPERIENCE</h5>
      <hr width="25%" />

      <!--/.lululemon-->
      <div class="row">
        <div class="col-sm-12 wow fadeIn text-muted">
          <h5 style="letter-spacing: 2px;">
            <strong>Software Engineer</strong> | <em>lululemon</em> |
            <em>Sep 2018 – Present</em>
          </h5>
          <ul style="letter-spacing: 1px;">
            <li>
              Lead efforts to increase development productivity and product
              release velocity by introducing and implementing feature
              management processes.
            </li>
            <li>
              Increased cross-team collaboration (2 teams totalling 30) by
              reducing communication friction between teams with documentation
              and consistent knowledge transfer sessions.
            </li>
            <li>
              Helped lead a talented software development team of 4 to develop
              MVPs for emerging product initiatives.
            </li>
          </ul>
        </div>
      </div>

      <!--/.Arise Capital-->
      <div class="row">
        <div class="col-sm-12 wow fadeIn text-muted">
          <h5 style="letter-spacing: 2px;">
            <strong>Advisor</strong> | <em>Arise Capital</em> |
            <em>Jan 2018 – Present</em>
          </h5>
          <ul style="letter-spacing: 1px;">
            <li>
              Architected and developed MVP based on strenuous security
              standards by researching and implementing 3rd party vendors.
            </li>
            <li>
              Technical liaison to document and articulate technology strategies
              to existing and potential investors.
            </li>
          </ul>
        </div>
      </div>

      <!--/.Cloudentity-->
      <div class="row">
        <div class="col-sm-12 wow fadeIn text-muted">
          <h5 style="letter-spacing: 2px;">
            <strong>Software Engineer</strong> | <em>Cloudentity</em> |
            <em>Jul 2017 – Sep 2018</em>
          </h5>
          <ul style="letter-spacing: 1px;">
            <li>
              Consulted with technical and product personnel to strategize and
              implement security-focused product enhancements.
            </li>
            <li>
              Delivered hundreds of security-related web application projects
              for global Fortune 500 companies.
            </li>
            <li>
              Coordinated with product releases and with remote overseas team.
            </li>
          </ul>
        </div>
      </div>

      <!--/.Paylasso-->
      <div class="row">
        <div class="col-sm-12 wow fadeIn text-muted">
          <h5 style="letter-spacing: 2px;">
            <strong>Technical Co-founder</strong> | <em>Paylasso</em> |
            <em>Mar 2016 – Jul 2017</em>
          </h5>
          <ul style="letter-spacing: 1px;">
            <li>
              Architected and implemented the entire evolution of the product.
            </li>
            <li>
              Grew and led a team of 4 consisting of remote and local developers
              and designers.
            </li>
            <li>
              Assisted in raising capital from angel investors with a 3m cap by
              conveying technical strategies in light of industry rules and
              regulations.
            </li>
          </ul>
        </div>
      </div>

      <!--/.Urban Airship-->
      <div class="row">
        <div class="col-sm-12 wow fadeIn text-muted">
          <h5 style="letter-spacing: 2px;">
            <strong>Software Engineer</strong> | <em>Urban Airship</em> |
            <em>Aug 2013 – Mar 2016</em>
          </h5>
          <ul style="letter-spacing: 1px;">
            <li>Three promotions within three years:</li>
            <li>
              Customer facing support engineer: First line of customer
              interaction for technical queries.
            </li>
            <li>
              Customer Engineer: Internal tooling for aggregating data for
              better business analytics.
            </li>
            <li>
              Software Engineer: Built the software platform for which the
              company's business logic operated on.
            </li>
          </ul>
        </div>
      </div>

      <br />
      <h5 class="card-title">EDUCATION</h5>
      <hr width="25%" />

      <!--/.DataCamp-->
      <div class="row">
        <div class="col-sm-12 wow fadeIn text-muted">
          <h5 style="letter-spacing: 2px;">
            <strong>Data Science</strong> - <em>DataCamp</em>
          </h5>
          <ul style="letter-spacing: 1px;">
            <li>Data Science in Python & R, and Quantitative Analyst</li>
          </ul>
        </div>
      </div>

      <!--/.L&C-->
      <div class="row">
        <div class="col-sm-12 wow fadeIn text-muted">
          <h5 style="letter-spacing: 2px;">
            <strong>Bachelor of Arts</strong> - <em>Lewis & Clark College</em>
          </h5>
          <ul style="letter-spacing: 1px;">
            <li>Computer Science and Mathematics</li>
            <li>Men's Varsity Basketball Athlete</li>
            <li>NCAA Student-Athlete Advisory Committee Member</li>
          </ul>
        </div>
      </div>

      <!--/.Whatcom-->
      <div class="row">
        <div class="col-sm-12 wow fadeIn text-muted">
          <h5 style="letter-spacing: 2px;">
            <strong>Associate of Arts</strong> -
            <em>Whatcom Community College</em>
          </h5>
          <ul style="letter-spacing: 1px;">
            <li>Physics</li>
            <li>Men's Varsity Basketball Athlete</li>
          </ul>
        </div>
      </div>
      <br />
      <h5 class="card-title">CERTIFICATIONS</h5>
      <hr width="25%" />

      <!--/.AWS CCP-->
      <div class="row">
        <div class="col-sm-12 wow fadeIn text-muted">
          <h5 style="letter-spacing: 2px;">
            <strong>AWS Certified Cloud Practitioner</strong> -
            <em>Credential ID 354109306</em>
          </h5>
        </div>
      </div>

      <!--/.Wharton-->
      <div class="row">
        <div class="col-sm-12 wow fadeIn text-muted">
          <h5 style="letter-spacing: 2px;">
            <strong>Wharton Online - Entrepreneurship</strong> -
            <em>Credential ID ZULYVNXQDRU6</em>
          </h5>
        </div>
      </div>
      <br />
      <h5 class="card-title">EXTRACURRICULAR</h5>
      <hr width="25%" />

      <!--/.CAC-->
      <div class="row">
        <div class="col-sm-12 wow fadeIn text-muted">
          <h5 style="letter-spacing: 2px;">
            <strong>Member</strong> -
            <em
              >Citizens Advisory Committee (CAC) - Camas School District 117</em
            >
          </h5>
        </div>
      </div>

      <!--/.PDXScala-->
      <div class="row">
        <div class="col-sm-12 wow fadeIn text-muted">
          <h5 style="letter-spacing: 2px;">
            <strong>Sponsor & Organizer</strong> - <em>PDXScala</em>
          </h5>
        </div>
      </div>
    </div>
    <!--/.Panel-->
  </div>
</div>
<!--/.Panel-->
