<!--Panel-->
<div class="row">
    <div class="col-sm-4">
        <!--Panel-->
        <br>
        <br>
        <br>
        <div class="card rgba-stylish-light card-body hoverable">
            <h4 class="card-title">ABOUT</h4>
            <hr width="25%">
            <p class="card-text text-muted" style="letter-spacing: 1px;">
                An experienced software engineer who thrives at the intersection of business and technology. Skilled in distributed web applications, Python, Java, AWS.
<br><br>
3x entrepreneur within the financial technology space, including credit, payments, and investments. Grew and lead diverse styles of teams including overseas, local, and remote members.
<br><br>
Strong entrepreneurship and engineering leadership professional with a Bachelor of Arts (BA) focused in Computer Sciences and Mathematics from Lewis and Clark College.</p>
            <br>
            <h4 class="card-title">CONTACT</h4>
            <hr width="25%">
            <h5>Location</h5>
            <p class="card-text text-muted" style="letter-spacing: 1px;">Remote / Portland, Oregon</p>
            
            <br>
            <h5>Email</h5>
            <a href="mailto:someone@example.com?Subject=Hello%20again" class="card-text text-muted" style="letter-spacing: 1px;">donato.perconti@gmail.com</a>
            
            <br>
            <h5>Phone</h5>
            <a href="tel:208-790-1990" class="card-text text-muted" style="letter-spacing: 1px;">208.790.1990</a>

            <br>
            <h5>Website</h5>
            <a href="dperconti.com" class="card-text text-muted" style="letter-spacing: 1px;">dperconti.com</a>

            <br>
            <h5>Social</h5>

            <div class="flex-row">
                <a href="https://www.linkedin.com/in/dperconti/" class="card-link"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                <a href="https://angel.co/dperconti" class="card-link"><i class="fa fa-angellist" aria-hidden="true"></i></a>
                <a href="https://www.instagram.com/dperconti/" class="card-link"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="https://stackoverflow.com/users/2526141/donato-perconti" class="card-link"><i class="fa fa-stack-overflow" aria-hidden="true"></i></a>
                <a href="https://github.com/dperconti" class="card-link"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
                <a href="https://medium.com/@dperconti" class="card-link"><i class="fa fa-medium" aria-hidden="true"></i></a>
                <a href="https://twitter.com/dperconti" class="card-link"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </div>
        </div>
        <!--/.Panel-->
    </div>
    <div class="col-sm-8 wow fadeIn">
        <div class="card white card-body hoverable z-depth-0">
            <h4 class="card-title">EXPERIENCE</h4>
            <hr width="25%">

            <!--/.Cloudentity-->
            <div class="row">
                <div class="col-sm-3">
                    <p class="text-left text-muted" style="letter-spacing: 2px;">2017 - Present</p>
                </div>      
                <div class="col-sm-9 wow fadeIn text-muted">
                    <h5><strong>Senior Software Engineer (remote)</strong></h5>
                    <p style="letter-spacing: 2px;"><em>Cloudentity</em></p>
                    <p class="text-left text-muted" style="letter-spacing: 2px;">
                        Lead a team responsible for the development and customization of Cloudentity's identity and security product for numerous enterprise clients.
                        <br>
                        <br>
                        Built and deployed RESTful microservices written in Scala, Java, and Javascript onto various hosting platforms.
                    </p>
                </div>
            </div>

            <!--/.Arise Capital-->
            <div class="row">
                <div class="col-sm-3">
                    <p class="text-left text-muted" style="letter-spacing: 2px;">2017 - Present</p>
                </div>      
                <div class="col-sm-9 wow fadeIn text-muted">
                    <h5><strong>Advisor (remote)</strong></h5>
                    <p style="letter-spacing: 2px;"><em>Arise Capital</em></p>
                    <p class="text-left text-muted" style="letter-spacing: 2px;">
                        Providing advise, mentorship, and direction to ensure the company meets technical and business direction together. 
                    </p>
                </div>
            </div>

            <!--/.Arise Capital-->
            <div class="row">
                <div class="col-sm-3">
                    <p class="text-left text-muted" style="letter-spacing: 2px;">2017 - Present</p>
                </div>      
                <div class="col-sm-9 wow fadeIn text-muted">
                    <h5><strong>Mentor (remote)</strong></h5>
                    <p style="letter-spacing: 2px;"><em>Thinkful</em></p>
                    <p class="text-left text-muted" style="letter-spacing: 2px;">
                        Mentor to web development students to help navigate the tech industry and how their talents can mesh. 
                    </p>
                </div>
            </div>

            <!--/.Paylasso-->
            <div class="row">
                <div class="col-sm-3">
                    <p class="text-left text-muted" style="letter-spacing: 2px;">2016 - 2017</p>
                </div>      
                <div class="col-sm-9 wow fadeIn text-muted">
                    <h5><strong>Technical Co-founder & CTO (remote)</strong></h5>
                    <p style="letter-spacing: 2px;"><em>Paylasso</em></p>
                    <p class="text-left text-muted" style="letter-spacing: 2px;">
                        Architected and implemented the entire evolution of the product. Built and deployed microservices written in Python and javascript to AWS.
                        <br>
                        <br>
                        Grew and led a small team consisting of remote and local developers and designers. Interfaced with investors and customers to develop product roadmaps based on market trends.
                    </p>
                </div>
            </div>

            <!--/.Urban Airship-->
            <div class="row">
                <div class="col-sm-3">
                    <p class="text-left text-muted" style="letter-spacing: 2px;">2013 - 2016</p>
                </div>      
                <div class="col-sm-9 wow fadeIn text-muted">
                    <h5><strong>Software Engineer (50 % remote)</strong></h5>
                    <p style="letter-spacing: 2px;"><em>Urban Airship</em></p>
                    <p class="text-left text-muted" style="letter-spacing: 2px;">
                        Multiple positions: Customer Engineer, Security Engineer, and Platform Engineer. Developed and maintained microservices written in Django/Python, Java, and Scala - deployed on AWS.
                    </p>
                </div>
            </div>


            <h4 class="card-title">EDUCATION</h4>
            <hr width="25%">

            <!--/.DataCamp-->
            <div class="row">
                <div class="col-sm-3">
                    <p class="text-left text-muted" style="letter-spacing: 2px;">2018 - Present</p>
                </div>      
                <div class="col-sm-9 wow fadeIn text-muted">
                    <h5><strong>Data Science</strong></h5>
                    <p style="letter-spacing: 2px;"><em>DataCamp</em></p>
                    <p class="text-left text-muted" style="letter-spacing: 2px;">
                        Data Science in Python & R, and Quantitative Analyst
                    </p>
                </div>
            </div>

            <!--/.L&C-->
            <div class="row">
                <div class="col-sm-3">
                    <p class="text-left text-muted" style="letter-spacing: 2px;">2010 - 2013</p>
                </div>      
                <div class="col-sm-9 wow fadeIn text-muted">
                    <h5><strong>Bachelor of Arts</strong></h5>
                    <p style="letter-spacing: 2px;"><em>Lewis & Clark College</em></p>
                    <p class="text-left text-muted" style="letter-spacing: 2px;">
                        Computer Science and Mathematics
                    </p>
                </div>
            </div>

            <!--/.Whatcom-->
            <div class="row">
                <div class="col-sm-3">
                    <p class="text-left text-muted" style="letter-spacing: 2px;">2008 - 2010</p>
                </div>      
                <div class="col-sm-9 wow fadeIn text-muted">
                    <h5><strong>Associate of Arts</strong></h5>
                    <p style="letter-spacing: 2px;"><em>Whatcom Community College</em></p>
                    <p class="text-left text-muted" style="letter-spacing: 2px;">
                        Physics
                    </p>
                </div>
            </div>
        </div>
        <!--/.Panel-->
    </div>
</div>

<!--/.Panel-->