<!--Panel-->
<div class="card card-body">
    <h4 class="card-title">About</h4>
    <p class="card-text">Donato has experienced various engineering environments - everything from a 10 person, bootstrapped startup, to a 100k+ employee, corporate environment. Throughout these different environments, Donato has progressed himself and his immediate and indirect teammates.
        <br>
Donato has also started two ventures of his own - Paylasso and Arise Investments. Both ventures' products were built out entirely by Donato. </p>

    <h5 class="card-title">Donato's coaching services focus on:</h5>
    <div class="flex-row">
        <p><strong>Professional development:</strong> Become a better leader - both technical and personal.</p>
        <p><strong>Product development:</strong> How to get your products from point A to point B without breaking the bank. Efficiency, procedures, and policies.</p>
        <p><strong>Product vetting:</strong> Product and business model validation and vetting.</p>
        <br>
        <p>Back-end development with Django, Java, and Scala</p>
        <p>Front-end development with Javascript and React/Redux, jQuery, and Angular</p>
        <p>Cloud infrastructure management with AWS</p>
        <p>Configuration management with Puppet, and Chef</p>
    </div>
</div>
<!--/.Panel-->
