<!-- Main navigation -->
<header>
    <!--Navbar-->
    <mdb-navbar id="home" SideClass="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
        <links>
            <!-- Links -->
            <br>
            <ul class="navbar-nav ml-auto montserrat">
                <li class="nav-item">
                    <a href="/" class="nav-link a-grey-text">
                    home
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/resume" class="nav-link a-grey-text">
                    resume
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#contact" class="nav-link a-grey-text">
                    contact
                    </a>
                </li>
            </ul>
        </links>
    </mdb-navbar>
    <!-- Full Page Intro -->
    <div class="view">
        <!-- Mask & flexbox options-->
        <div class="mask rgba-gradient d-flex justify-content-center align-items-center">
            <!-- Content -->
            <div class="container" style="padding-top: 100px;">
                <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="col-md-5 a-grey-text text-center text-md-left mt-xl-5 mb-5 wow fadeInLeft" data-wow-delay="0.3s">
                        <br><br><br>
                        <h1 class="h1-responsive font-weight-bold mt-sm-5 a-dark-grey-text montserrat">Donato Perconti</h1>
                        <hr class="hr-light">
                        <h6 class="mb-4 merriweather">Entrepeneur, technologist, staff engineer</h6>
                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div style="max-width:500px" class="avatar mx-auto white wow fadeInRight">
                        <img style="width:fit-content" src="./assets/profile.png"
                            alt="avatar mx-auto white" class="rounded-circle img-fluid">
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
            </div>
            <!-- Content -->
        </div>
        <!-- Mask & flexbox options-->
    </div>
    <!-- Full Page Intro -->
</header>
<!-- Main navigation -->
<div style="background-color:#3A3C52">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Projects section v.3 -->
                <section class="my-5">
                    <!-- Grid row -->
                    <div class="row">
                        <!-- Grid column -->
                        <div class="col-lg-12 wow fadeInRight">
                            <!-- Grid row -->
                            <div class="row mb-3">
                                <div class="col-md-11 col-10 ">
                                    <div class="align-middle">
                                        <h5 class="font-weight-bold mb-3 a-light-grey-text montserrat">Donato Perconti is an entrepreneurial technologist that enjoys solving complex business problems with software. </h5>
                                        <p class="a-light-grey-text merriweather">Donato is currently a staff software engineer for the educational technology company Skillshare, where he is tasked with intersecting big data, payments, and finance. Previously, Donato worked with numerous companies ranging from lululemon, Thinkful, Airship, and intel. As a former founder at Paylasso, Donato is constantly vetting and exploring new business models and ideas to create new companies.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Grid column -->
                    </div>
                </section>
                <!-- Projects section v.3 -->
            </div>
        </div>
    </div>
</div>
<!-- insights -->
<div id="insights">
    <div class="container">
  <div class="row">
    <div class="col-md-6">
        <!--Projects section v.1-->
                <br>
                <br>
                <br>
                    <div style="max-width:500px" class="avatar mx-auto white">
                        <img style="width:fit-content" src="./assets/looking.png"
                            alt="avatar mx-auto white" class="rounded-circle img-fluid">
                    </div>
                <!--/Projects section v.1-->
    </div>
    <div class="col-md-6"><!--Projects section v.1-->
                    <!--Section heading-->
                    <h2 class="text-center h1 py-5 wow fadeInDown montserrat a-dark-grey-text">
                        <strong>Growth Mindset</strong>
                    </h2>
                    <!--Section description-->
                    <p class="grey-text pb-5 text-center a-dark-grey-text merriweather wow fadeInUp">Donato believes business solutions can change the world for the better - smart and revenue rich while also making a social impact. He also believes in the power of a growth mindset. One outlet of Donato's growth-mindset is the MOOC (Massive Open Online Courses) powered curriculum for business mastership: MOOC MBA. Donato also holds multiple certificates in various subjects, including entrepreneurship, AWS technologies, and data science. </p>
                    <p class="grey-text pb-5 text-center a-dark-grey-text merriweather wow fadeInUp">Donato is an alumnus of Lewis & Clark College, where he studied mathematics and computer science. He is also active in various community organizations such as Little League Baseball and Softball, local school boards, and Portland's Night Strike homeless ministry.</p>
                    <!--Grid row-->
                <!--/Projects section v.1--></div>
  </div>
</div>

</div>
<!-- insights -->
<div id="contact-sales">
    <div class="container wow fadeInUp">
        <div class="row">
            <div class="col-12">
                <!--Section: Contact v.2-->
                <section id="contact">
                    <!--Section heading-->
                    <h2 class="text-center h1 py-5 montserrat a-dark-grey-text">Get in touch</h2>
                    <div class="row">
                        <!--Grid column-->
                        <div class="col-md-12">
                            <form action="https://formspree.io/me@dperconti.com" method="POST">
                                <!--Grid row-->
                                <div class="row">
                                    <!--Grid column-->
                                    <div class="col-md-6">
                                        <div class="md-form">
                                            <input name="name" placeholder="your name" type="text" id="contact-name" class="form-control">
                                        </div>
                                    </div>
                                    <!--Grid column-->
                                    <!--Grid column-->
                                    <div class="col-md-6">
                                        <div class="md-form">
                                            <input placeholder="your email" type="text" id="contact-email" class="form-control" name="_replyto">
                                        </div>
                                    </div>
                                    <!--Grid column-->
                                </div>
                                <!--Grid row-->
                                <!--Grid row-->
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="md-form">
                                            <input name="subject" type="text" id="contact-Subject" class="form-control" placeholder="subject">
                                        </div>
                                    </div>
                                </div>
                                <!--Grid row-->
                                <!--Grid row-->
                                <div class="row">
                                    <!--Grid column-->
                                    <div class="col-md-12">
                                        <div class="md-form">
                                            <textarea name="message" placeholder="your message" type="text" id="contact-message" class="form-control md-textarea" rows="3"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <!--Grid row-->
                                <div class="text-center text-md-left">
                                    <input mdbBtn class="montserrat a-grey-text bg-white" type="submit" value="Submit">
                                </div>
                            </form>
                        </div>
                        <!--Grid column-->
                    </div>
                </section>
                <!--Section: Contact v.2-->
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<!-- insights -->
<div style="background-color:#3A3C52">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Footer -->
                <footer class="page-footer font-small pt-4">
                    <!-- Footer Links -->
                    <div class="merriweather container text-center text-md-left">
                        <!-- Footer links -->
                        <div class="row text-center text-md-left mt-3 pb-3">
                            <!-- Grid column -->
                            <hr class="w-100 clearfix d-md-none">
                            <!-- Grid column -->
                            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                                <h6 class="montserrat text-uppercase mb-4 font-weight-bold">Donato Perconti</h6>
                                <p>
                                    <mdb-icon fas icon="home" class="mr-3"></mdb-icon>
                                    <a href="#">Hood River, OR</a>
                                </p>
                                <p>
                                    <mdb-icon fas icon="envelope" class="mr-3"></mdb-icon>
                                    <a href="mailto:me@dperconti.com">me@dperconti.com</a>
                                </p>
                                <p>
                                    <mdb-icon fab icon="twitter" class="mr-3"></mdb-icon>
                                    <a href="https://twitter.com/dperconti">@dperconti</a>
                                </p>
                                <p>
                                    <mdb-icon fab icon="angellist" class="mr-3"></mdb-icon>
                                    <a href="https://angel.co/dperconti">@dperconti</a>
                                </p>
                                <p>
                                    <mdb-icon fab icon="linkedin" class="mr-3"></mdb-icon>
                                    <a href="https://www.linkedin.com/in/dperconti/">@dperconti</a>
                                </p>
                                <p>
                                    <mdb-icon fab icon="instagram" class="mr-3"></mdb-icon>
                                    <a href="https://www.instagram.com/dperconti/">@dperconti</a>
                                </p>
                            </div>
                            <!-- Grid column -->
                        </div>
                        <!-- Footer links -->
                        <hr>
                        <!-- Grid row -->
                        <div class="row d-flex align-items-center">
                            <!-- Grid column -->
                            <div class="col-md-7 col-lg-8">
                                <!--Copyright-->
                                <p class="text-center text-md-left">© 2020 Copyright:
                                    <a href="https://www.dperconti.com">
                                    <strong> dperconti.com</strong>
                                    </a>
                                </p>
                            </div>
                            <!-- Grid column -->
                        </div>
                        <!-- Grid row -->
                    </div>
                    <!-- Footer Links -->
                </footer>
                <!-- Footer -->
            </div>
        </div>
    </div>
</div>
