.orange-gradient {
    background: -webkit-linear-gradient(50deg, #FFD86F, #FC6262);
    background: linear-gradient(40deg, #FFD86F, #FC6262)
}
.purple-gradient {
    background: -webkit-linear-gradient(50deg, #ff6ec4, #7873f5);
    background: linear-gradient(40deg, #ff6ec4, #7873f5)
}
.peach-gradient {
    background: -webkit-linear-gradient(50deg, #FFD86F, #FC6262);
    background: linear-gradient(40deg, #FFD86F, #FC6262)
}
.aqua-gradient {
    background: -webkit-linear-gradient(50deg, #2096ff, #05ffa3);
    background: linear-gradient(40deg, #2096ff, #05ffa3)
}
.blue-gradient {
    background: -webkit-linear-gradient(50deg, #45cafc, #303f9f);
    background: linear-gradient(40deg, #45cafc, #303f9f)
}
