

<div class="row">

  <div class="col">
      <!-- Card -->
    <div class="card card-image mb-4 aqua-gradient">

        <!-- Content -->
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4" style="min-height: 350px;">
            <div>
                <h3 class="card-title">Scalable, Secure, and Intuitive</h3>
                <p>Current technology and emerging trends are difficult to stay on top of. I can ensure that you are using the best technology for your company for the present and for the long term goals.</p>
                <!-- <a class="btn btn-pink waves-light" mdbRippleRadius><i class="fa fa-clone left"></i> View project</a> -->
            </div>
        </div>
        <!-- Content -->
    </div>
    <!-- Card -->
  </div>

  <div class="col">
    <!-- Card -->
    <div class="card card-image mb-4 purple-gradient">

        <!-- Content -->
        <div class="text-white text-center d-flex align-items-center py-5 px-4" style="min-height: 350px;">
            <div>
              <h3 class="card-title">Management</h3>
              <br>
              <p>The bottom line of a successful business is the ability to get it done. Process efficiency, communication, and better relationships play a key part in productivity. I can assist in refining and progress these processes. </p>
            </div>
        </div>
        <!-- Content -->
    </div>
    <!-- Card -->
  </div>

  <div class="col">
    <!-- Card -->
    <div class="card card-image mb-4 blue-gradient">

        <!-- Content -->
        <div class="text-white text-center d-flex align-items-center py-5 px-4" style="min-height: 350px;">
            <div>
              <h3 class="card-title">Product Vision</h3>
              <br>
              <p>
The first iteration of a product is often done in haste. Unfortunately, businesses often are unable to progress past that original product and vision. I can help your business plan and execute on numerous evolutions of your product to ensure that the product advances. </p>
            </div>
        </div>
        <!-- Content -->
    </div>
    <!-- Card -->
  </div>

</div>
