<div class="jumbotron" style="margin-top: 100px;">
    <h1 class="h1-responsive">Technology & Business Consulting and Coaching</h1>
    <p class="lead">Behind Every Great Leader Are Great Mentors And Advisors</p>
    <hr class="my-2">
    <p>Your business is not your hobby. Your business is your creation at work. I provide consulting and coaching services for tech-based companies in Portland, OR. My goal is to provide your company with the means necessary to build and maintain scalable, secure, and intuitive software to enable your software to succeed.
    </p>
    <!-- <a class="btn btn-primary btn-lg" role="button">Learn more</a> -->
</div>
