html {
  @apply text-base;
  @apply transition-colors duration-200;
}

body {
  @apply bg-body font-primary font-normal leading-relaxed text-text;
  @apply transition-colors duration-200;
}

.light body {
  @apply bg-white text-gray-900;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-primary font-normal leading-tight text-dark;
}

.light h1,
.light h2,
.light h3,
.light h4,
.light h5,
.light h6 {
  @apply text-gray-900;
}

h1,
.h1 {
  @apply text-h1-sm md:text-h1;
}

h2,
.h2 {
  @apply text-h2-sm md:text-h2;
}

h3,
.h3 {
  @apply text-h3-sm md:text-h3;
}

h4,
.h4 {
  @apply text-h4;
}

h5,
.h5 {
  @apply text-h5;
}

h6,
.h6 {
  @apply text-h6;
}

